{% extends "base.html" %} {% block title %}
<h1>Add Video Link Here</h1>
{% endblock title %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/style.css')}}"
/>
<div class="add-video">
  <form id="myform" action="" method="POST">
    <input
      type="text"
      value=""
      name="link"
      id="link"
      placeholder="Enter video url"
      style="height: 30px; width: 200px"
    /><br /><br/>
    <label for="videoid">Video Id : </label>
    <input
      type="text"
      name="videoid"
      id="videoid"
      style="outline: 0; border: 0"
    /><br /><br/>
    <input
      type="submit"
      onclick="{inputUrl.value=videoid.value}"
      value="Submit "
    />
  </form>
</div>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock content %}
