<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> -->
    <title>Youtube Clone</title>
</head>
<body>
    <link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/style.css')}}"
/>
<nav class="flex-div">
  <div class="nav-left flex-div">
    <img src="../static/images/menu.png" alt="menu bar" class="menu-icon" />
    <img src="../static/images/logo.png" alt="logo" class="logo" />
    <a href="{{url_for('add_channel')}}">Add </a>
  </div>
  <div class="nav-middle flex-div">
    <div class="search-box flex-div">
      <input type="text" placeholder="Search" />
      <img src="../static/images/search.png" alt="search bar" />
    </div>
    <img src="../static/images/voice-search.png" alt="mic icon" class="mic-icon" />
  </div>
  <div class="nav-right flex-div">
    <img src="../static/images/upload.png" alt="upload icon" />
    <img src="../static/images/more.png" alt="more icon" />
    <img src="../static/images/notification.png" alt="notification icon" />
    <img class="user-icon" src="../static/images/Jack.png" alt="user icon" />
  </div>
</nav>
<!-- sidebar -->
<div class="sidebar">
  <div class="shortcut-links">
    <a href=""
      ><img src="../static/images/home.png" alt="" />
      <p>Home</p></a
    >
    <a href=""
      ><img src="../static/images/explore.png" alt="" />
      <p>Explore</p></a
    >
    <a href="{{url_for('subscribe')}}"
      ><img src="../static/images/subscriprion.png" alt="" />
      <p>Subscription</p></a
    >
    <a href=""
      ><img src="../static/images/library.png" alt="" />
      <p>Library</p></a
    >
    <a href=""
      ><img src="../static/images/history.png" alt="" />
      <p>History</p></a
    >
    <a href=""
      ><img src="../static/images/playlist.png" alt="" />
      <p>Playlist</p></a
    >
    <a href=""
      ><img src="../static/images/messages.png" alt="" />
      <p>Messages</p></a
    >
    <a href=""
      ><img src="../static/images/show-more.png" alt="" />
      <p>Show More</p></a
    >
    <hr />
  </div>
  <div class="subscribed-list">
    <h3>Subscribed</h3>
    <a href=""
      ><img src="../static/images/Jack.png" alt="" />
      <p>Python</p></a
    >
    <a href=""
      ><img src="../static/images/simon.png" alt="" />
      <p>Java</p></a
    >
    <a href=""
      ><img src="../static/images/tom.png" alt="" />
      <p>Javascript</p></a
    >
    <a href=""
      ><img src="../static/images/megan.png" alt="" />
      <p>C</p></a
    >
    <a href=""
      ><img src="../static/images/cameron.png" alt="" />
      <p>C++</p></a
    >
    <a href=""
      ><img src="../static/images/Jack.png" alt="" />
      <p>Mongo</p></a
    >
    <a href=""
      ><img src="../static/images/Jack.png" alt="" />
      <p>React</p></a
    >
  </div>
</div>
    {% block title %}{% endblock title %}
    {% block content %} {% endblock content %}
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>